build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/

# tsbuildinfo
tsconfig.tsbuildinfo

# https://nextjs.org/docs/app/api-reference/config/typescript#next-envdts
next-env.d.ts


src/app/(payload)/admin/importMap.js
